* {
    box-sizing: border-box;
}

html {
    max-width: 100%;
    overflow-x: hidden
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;

    max-width: 100%;
    overflow: hidden
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


/* ALL - Navigation Bar*/
#header {

    z-index: 100;
    width:100%;
    min-height:8vh;

    display: flex;
    justify-content:flex-end;
    align-items: center;
    
    background-color: black;

    transition: background-color .3s linear;
}

#header.canScroll {
    position: fixed;
    top: 0;

    background-color: transparent;

}


#header.active-header {
    background-color: black;
}

.navitem {
    font-size: 150%;
    color: plum;

    padding-right: .5em;
}

/* .bigbutton {
    margin-right: auto;
    margin-left: .5em;
    font-size: 120%;
    color: red;
    
} */

/* INDEX.HTML - Hero Image*/

#banner {
    height: calc(100vh - 20px);

    background-image: url("Media/Aqours_artist_photo.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#banner.downsized {
    background-size: cover;
    height: 30vh;
    background-position: center calc(50% + 100px)}

.banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
    
    font-size: 250%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;

    backdrop-filter: blur(2px);

}
/* INDEX.HTML - Main Body */

#team-info {
    width: 100%;
    height:46vh;
}

.team-info-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.team-info-logo {

    display: flex;
    justify-content: flex-end;
    
    width:40%;
    height:40%
}

.team-info-logo * {
    height: 100%;
    padding-right:4%
}


.team-info-text {
    width: 60%;
    height: 40%;

    display: flex;
    flex-direction: column;
}

.team-info-text h1 {
    margin:0;
}

.team-info-text p {
    margin: 1em 0 0 0;
    color: green;
}

.team-info-text div {
    display:flex;
    align-items: flex-end;
    flex:1 1 100%;

}

.team-info-text div a {
    padding: 1vh;
    border-radius: 20px;

    color: white;
    background-color: black;
}

/* INDEX.HTML - News feed */

#newsfeed {
    width: 100%;
    height:92vh;
    background-color:pink;

    
}

.newsfeed-container {
    height: 100%;
    display: flex;
}

.newsfeed-section {
    flex: 1 1 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* MEMBERS.HTML Subunit picker  */

#subunits {
    width: 100%;
}

.members-group-container {
    width: 100%;
    height: 15vh;
}

.members-group-section {
    flex: 1 1 0;
    justify-content: center;
}

.subunit-buttons {
    justify-content: center;
    cursor: default;
}

.members-group-section * {
    width: 95%;
    height: 100%;
}

#subunit-background {
    background-color: rgb(155, 199, 238);
    height: 15vh;
    width: 34%;

    position: absolute;
    left: 0%;

    z-index: -1;

    transition: all linear 0.3s;
}

/* MEMBERS.HTML - Members carousell */

#members {
    width: 100%;
    height: 74vh;
}

#slides{  
    
    position: relative;
    overflow: hidden;

    width: 100%;
    height: 100%;

    white-space: nowrap;
    font-size: 0;
    /* font-size:0 to get rid of spaces between inline-blocks, important.(setting bg-color here won't work i've tried) */
  }

.slide{
    position: relative;
    display: inline-block;

    width: 100%;
    height: 100%;

    margin: 0;

    background-color: beige;
    font-size: 16px;
}

.member-container {
    width: 100%;
    height: 100%;

}

.member-inner-container {
    width:60%;
    height:70%;
    background-color: azure;
    border-radius: 15px;
}

.member-container-left ,
.member-image,
.member-container-right {
    height: 100%;
    display: flex;
}


.member-image-mobile {
    display: none;
    width: 17vw;
}


.member-container-left {
    flex: 35%
}

.member-container-right {
    flex: 65%;
}

.member-container-right * {
    margin-bottom: 0;
}

.member-biography {
    padding:10px;
    flex:80%;
}

.member-links a {
    height: 30px;
    flex: 1;
    padding: 0 9px 3px 9px;
    display: flex;
    justify-content: center;
    
}

.member-links a img {
    height: 100%;
    width: auto;
}


.member-scroll-button-container {
    flex: 5;
    display: none;
    align-items: center;
    justify-content: space-between
}

.member-scroll-button-container img {
    height: 20px;
    width: 30px;
}


/* MEMBERS.HTML - Members carousell navigation buttons */

#buttons {
    display: flex;
    justify-content: center;
    background-color: beige;
}

#buttons button {
    background-color: pink;

    border:0;
    border-radius: 20px;
    
    padding:1.5vh;
    margin: 0 4vh 0 4vh;

    z-index: 100;   
}

#buttons button.active {
    background-color: red; 
}

#scroll-buttons {
    height: 0;
    justify-content: center;
}

#scroll-buttons-container {
    height: 75vh;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    
}

#prev-button , #next-button{
    width: 3vw;
    height: 3vw;
    z-index: 100;
}

/* POSTS - Page Title */

.concerts-body {
    width: 100%;
}

.concerts-body-flexbox {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.concerts-body-section {
    display: flex;
    width: 60%;
    font-size: 150%;

}

.concerts-body-main {
    flex: 3;
    flex-direction: column;
    width: 100%;
}

.concerts-body-side {
    margin-left: 30px;
    flex: 1;
    flex-direction: column;
}

.filter-button {
    height: 5vh;
    background-color: rgb(255, 255, 255);;
    
    border-radius: 20px;
    padding: 1vh;

    margin:0 0 10px 0;

    transition: background-color 0.1s linear;
}

.filter-button.active {
    background-color: rgb(155, 199, 238);
}

.post {
    background-color: paleturquoise;
    margin: 0 0 1em 0;

    padding: 20px;
    border-radius: 20px;
}

.tag {
    background-color: black;
    border-radius: 10px 20px 10px 20px;
    margin: 0 20px 0 0px;
    
    font-size: 70%;
    padding: .4em 1em .4em 1em;

    color: white;
    font-weight: bold;
}

.post-body {
    font-size: 70%;
}

.post-body-image {
    margin: 20px 0 0 0;
}

.post-body-image img {
    width: 100%;
    height: 100%;
}

.support-buttons a {
    background-color: white;
    padding: .3em;
    border-radius: 20px;
    margin: 0 10px 0 10px;
    
    text-decoration: none;
    color: black;
}

.support-buttons a:hover {
    background-color: bisque;
}

.support-buttons a:visited {
    text-decoration: none;
    color: black;
}

.gallery-header {
    border-bottom: 1px black solid;
    
    justify-content: space-between;
}

.gallery-item {
    margin: 20px 0 0 0
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
    width: 100%;
}

.column {
    flex-direction: column;
}

.hidden {
    display: none;
}

.fw {
    width: 100%;
}


.nomargin {
    margin:0 ;
}

.nopadding {
    padding: 0;
}
/* not done yet */

footer {
    width: 100%;
    height: 200px;
    background-color: lightgray;
}

@media only screen and (max-width:1000px) {
    .member-inner-container {
        width: 90%;
    }

    #scroll-buttons {
        display: none;
    }

    /* .member-container-left {
       
    } */

    .member-scroll-button-container {
        display: flex;
    }

    .concerts-body-side {
        display: none;
    }
    .concerts-body {
        font-size: calc(1vw + 12px);
    }
    .concerts-body-section {
        width: 90%;
        font-size: 100%;
    }
}


@media only screen and (max-width:680px) {
    /* .gallery {
        display: none;
    } */
    .gallery iframe {
        width: 100%;
        height: 100%;
        aspect-ratio: 16/9;
    }

    /* .member-inner-container {
        flex-direction: column;
    } */
    .member-image,
    .member-container-left{
        display: none;
    }
    .member-image-mobile {
        display: flex;
    }
}
