* {
    box-sizing: border-box;
}

html {
    max-width: 100%;
    overflow-x: hidden
}

body{
    margin: 0;
    padding: 0;
    font-weight: 500;
    max-width: 100%;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    font-size: 1.3vmax
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


/* Navigation Bar */
#header {

    z-index: 100;
    width:100%;
    min-height:8vh;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    background-color: gainsboro;
    transition: background-color .3s linear;
}

#header.canscroll {
    position: fixed;
    top: 0;
    background-color: transparent;
}


#header.active-header {
    background-color: gainsboro;
}

.navitem {
    font-size: 120%;
    font-weight: 800;
    padding-right: 1em;
    color: black;
}

.navitem:visited {
    color: black;
}

.logo {
    padding-left: 10%;
}

.logo img {
    max-height: 7vh;
}

/* Hero Images */

#banner {
    height: calc(100vh - 20px);

    background-image: url("Media/aqours_images/Aqours_artist_photo.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#banner.concerts {
    background-image: url("Media/aqours_images/Aqours_Logo.webp");
    background-attachment: scroll;
    background-size: contain;
    height: 20vh;
}

#banner.team {
    background-image: url("");
    height: 3vh;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
    font-size: 250%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    backdrop-filter: blur(2px);

}

/* INDEX.HTML - Main Body */

#team-advert-section,
#concert-advert-section {
    margin: 2rem 0 2rem 0;
}

#concert-advert-section {
    white-space: normal;
    position: relative;
}

.advert {
    padding: 1rem;
    background-color: paleturquoise;
    width: 60%;
    height: 100%
}

.advert > * {
    width: 100%;
}

.advert-header {
    margin: 0 auto
}


#team-logo {
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
    
}

.advert-button {
    position: relative;
    top: 0;
    width: 60%;
    padding: .4rem;
    color: #000000;
    background-color: white;
    border-radius: 30px;
    margin: auto auto 0 auto;
    transition: top .2s linear;
}

.advert-button:hover {
    top:-4px;
    background-color: turquoise;
}

#meet-team {
    margin: auto auto 0 auto;
    width: 60%
}

#read-more {
    margin: 0 auto 0 auto
}

.concert-advert-right {
    margin-left: 1rem;
}

/* MEMBERS.HTML Subunit picker */

#subunits {
    width: 100%;
    background-color: gainsboro;
}

.members-group-container {
    width: 100%;
    height: 12vh;
    
}

.members-group-section {
    flex: 1 1 0;
    justify-content: center;
}

.subunit-buttons {
    justify-content: center;
    cursor: default;
}

.members-group-section * {
    width: 95%;
    height: 100%;
}

#subunit-background {
    background-color: rgb(155, 199, 238);
    height: 12vh;
    width: 34%;
    position: absolute;
    left: 0%;
    z-index: 1;
    transition: all linear 0.3s;
}

.subunit-image {
    z-index: 2;
}

/* MEMBERS.HTML - Members carousell/slides */

#members {
    width: 100%;
    height: 70vh;
}

#slides{  
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70vh;
    white-space: nowrap;
    font-size: 0;
    /* font-size:0 to get rid of spaces between inline-blocks, important.(setting bg-color here won't work i've tried) */
  }

.slide{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 16px;
}

#slides.index {
    height: 100%;
}

.member-inner-container {
    width: min(70%, 1000px);
    height:90%;
    background-color: gainsboro;
    border-radius: 15px;
}

.member-container-left ,
.member-image,
.member-container-right {
    height: 100%;
    display: flex;
}

.member-image {
    width: 100%;
}

.member-image-mobile {
    display: none;
    width: 17vw;
}


.member-container-left {
    flex: 40%
}

.member-container-right {
    flex: 60%;
}

.member-container-right * {
    margin-bottom: 0;
}

.member-biography {
    padding:10px;
    flex:80%;
    white-space: normal;
    font-weight: 600;
}

.member-birthday {
    font-weight: 600;
}

.member-links a {
    height: 30px;
    flex: 1;
    padding: 0 9px 3px 9px;
    display: flex;
    justify-content: center;    
}

.member-links a img {
    height: 100%;
    width: auto;
}


.member-scroll-button-container {
    flex: 5;
    display: none;
    align-items: center;
    justify-content: space-between
}

.member-scroll-button-container img {
    height: 20px;
    width: 30px;
}

/* MEMBERS.HTML - Members carousell navigation buttons */

#buttons {
    display: flex;
    justify-content: center;
    padding: 0 0 10vh 0;
    height: 10vh;
}

#buttons button {
    background-color: pink;
    border:0;
    border-radius: 20px;
    padding:2vh;
    margin: 0 2rem 0 2rem;
    z-index: 100;   
}

#buttons button.active {
    background-color: red; 
}

#scroll-buttons {
    height: 0;
    justify-content: center;
}

#scroll-buttons-container {
    height: 75vh;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

#prev-button , #next-button{
    width: 3vw;
    height: 3vw;
    z-index: 100;
}

/* CONCERTS.HTML - Page Layout */

.concerts-body-section {
    display: flex;
    width: 80%;
    font-size: 150%;

}

.concerts-body-main {
    flex: 3;
    width: 100%;
}

.concerts-body-middle {
    flex: 1;
    display: none;
}

.concerts-body-middle img {
    max-width:2em;
}

.concerts-body-side {
    margin-left: 30px;
    flex-direction: column;
}

#mobile-dropdown-container {
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.2);
    margin-bottom: 1rem;
}

.filter-button {
    background-color: rgb(255, 255, 255);;
    border-radius: 20px;
    padding: .5rem 1rem .5rem 1rem;
    margin: .3rem 0 .3rem 0;
    transition: background-color 0.1s linear;
}

.filter-button.active {
    background-color: rgb(155, 199, 238);
}

/* CONCERT.HTML - Individual Posts css  */

.post {
    background-color: paleturquoise;
    margin: 0 0 1em 0;
    padding: 20px;
    border-radius: 20px;
}

.tag {
    background-color: black;
    border-radius: 10px 20px 10px 20px;
    margin: 0 20px 0 0px;
    
    font-size: 70%;
    padding: .4em 1em .4em 1em;

    color: white;
    font-weight: bold;
}

.post-body {
    font-size: 70%;
}

.post-body-image {
    margin: 20px 0 0 0;
}


.support-buttons a {
    background-color: white;
    padding: .3em;
    border-radius: 20px;
    margin: 0 10px 0 10px;
    
    text-decoration: none;
    color: black;
}

.support-buttons a:hover {
    background-color: bisque;
}

.support-buttons a:visited {
    text-decoration: none;
    color: black;
}

.gallery-header {
    border-bottom: 1px black solid;
    
    justify-content: space-between;
}

.gallery-item {
    margin: 20px 0 0 0
}

/* TEAM.HTML */


.team-member-inner {
    margin: 2%;
    padding: .5rem;
    background-color: paleturquoise;
    width: 90%;
}

.team-member-left {
    flex: 1;
    justify-content: center;
}

.team-member-right {
    flex: 2;
    height: 100%;
}

.team-member-right h1 {
    padding: .3em .5em .3em .5em;
    border-radius: 10px;
    margin: 0
}

.team-member-image {
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: 0;
    transition: top 0.7s ease;
    max-width: 33vh;
    max-height: 33vh;
}

.team-member-image:hover {
    top: -3px
}

/* GLOBAL  */

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
    width: 100%;
}

.column {
    flex-direction: column;
}

.hidden {
    display: none;
}

.fw {
    width: 100%;
}

.fh {
    height: 100%;
}

.nomargin {
    margin:0 ;
}

.nopadding {
    padding: 0;
}

/* FOOTER  */

footer {
    padding: 1em;
    background-color: gainsboro;
}

/* MEDIA QUERIES */

@media only screen and (max-width:1000px) {
    .member-inner-container {
        width: 90%;
    }
    #scroll-buttons {
        display: none;
    }
    .member-scroll-button-container {
        display: flex;
    }
    .concerts-body-middle {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .concerts-body-side {
        display: none;
    }
    .concerts-body {
        font-size: calc(1vw + 12px);
    }
    .concerts-body-section {
        width: 90%;
        font-size: 100%;
    }
}

@media only screen and (max-width:680px) {
    .gallery iframe {
        width: 100%;
        height: 100%;
        aspect-ratio: 16/9;
    }
    .member-image,
    .member-container-left{
        display: none;
    }
    .member-image-mobile {
        display: flex;
    }
    #concert-advert-section img {
        display: none;
    }

}

@media only screen and (max-width:500px) {
    .logo-container {
        display: none;
    }
    #header {
        justify-content: space-around;
    }
    .navitem {
        padding: 0;
    }
}